h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

body {
  background-color: #faf6f3;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: white;
  height: 10%;
  margin: 8% 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 3px 4px -1px rgba(201, 201, 201, 1);
  z-index: 2;
  position: relative;
}

.headerleft {
  display: flex;
  padding: 12px;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

.fullstop {
  color: #ef663d;
}

.searchbar {
  display: flex;
}

.search {
  height: 30px;
  width: 210px;
  border-radius: 20px 0 0 20px;
  border: none;
  margin-left: 40px;
  padding-left: 15px;
  background-color: #f5ebe2;
  font-size: 12px;
}

.searchbutton {
  height: 30px;
  background-color: #f5ebe2;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0 10px 0 10px;
  align-items: center;
}

.fa-search {
  color: #4035b5;
}

.headerright {
  display: flex;
  align-items: center;
  padding: 12px;
}

.newteamlink {
  padding: 10px 40px;
  background-color: #ef663d;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.fa-bell-o {
  margin-left: 30px;
}

.profilepic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.sidenav {
  height: 70%;
  width: 4%;
  margin: 0 0 0 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  z-index: -1;
}

.icon {
  display: flex;
  justify-content: center;
  padding: 7px;
  height: 20px;
  width: 20px;
  color: #c0cbf9;
  border-radius: 4px;
  font-size: 20px;
}

.icon:hover {
  padding: 7px;
  color: #4035b5;
  background-color: #f3f2f7;
}

.opennav {
  margin-top: 90px;
  color: #c0cbf9;
  border-radius: 4px;
  padding: 7px;
  font-size: 25px;
}

.opennav:hover {
  color: #4035b5;
  background-color: #f3f2f7;
  padding: 7px;
}

.content {
  margin: -500px 0 0 160px;
  height: 550px;
  width: 80%;
  font-size: 15px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 18px;
  grid-template-columns: repeat(14, 9.5%);
  grid-template-rows: repeat(9, 40px);
}

.collections {
  grid-column: 1/5;
  grid-row: 1/5;
}

.teamflag {
  grid-column: 5/8;
  grid-row: 1/5;
}

.alridge {
  grid-column: 8/10;
  grid-row: 1/3;
  background-color: #f0edfe;
}

.flatcher {
  grid-column: 8/10;
  grid-row: 3/5;
}

.announcements {
  grid-column: 1/3;
  grid-row: 6/9;
}

.services {
  grid-column: 3/5;
  grid-row: 5/9;
}

.earnings {
  grid-column: 5/8;
  grid-row: 5/9;
  display: flex;
  flex-direction: column;
}

.earnings h2 {
  margin-bottom: 0;
}

.teampeople {
  grid-column: 8/10;
  grid-row: 5/7;
}

.laptopicon {
  grid-column: 8/9;
  grid-row: 7/9;
}

.seemore {
  grid-column: 9/10;
  grid-row: 7/9;
}

.squares {
  border-radius: 10px;
  background-color: white;
}

.blue {
  background-color: #f0edfe;
}

.pink {
  background-color: #faded5;
}

.yellow {
  background-color: #f7b632;
}

.lightpink {
  background-color: #faf6f3;
}

h2 {
  margin-left: 30px;
}

span {
  font-weight: 700;
}

p {
  font-size: 18px;
}

.tasks {
  width: 130px;
  height: 47px;
  margin: 0 0 0 30px;
  padding: 5px 0 5px 0;
  border: 2px purple solid;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: lightgray;
}

.bold {
  font-size: 24px;
  color: black;
  padding: 2px;
}

.projects {
  width: 130px;
  height: 47px;
  margin-left: 30px;
  padding: 5px 0 5px 0;
  border: 2px orange solid;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: lightgray;
}

.earned {
  width: 160px;
  height: 47px;
  margin: -155px 0 0 200px;
  padding: 5px 0 5px 0;
  border: 2px yellow solid;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: lightgray;
}

.create {
  width: 230px;
  height: 47px;
  margin: 15px 0 0 200px;
  padding: 5px 0 5px 0;
  border: 2px #4136b6 solid;
  border-radius: 10px;
  background-color: #4136b6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create p {
  width: 120px;
  font-size: 14px;
  text-align: left;
  color: lightgray;
}

.fa-arrow-up {
  padding: 17px;
  background-color: #715cd5;
  border-radius: 10px;
  color: white;
}

.flag {
  border-radius: 10px;
  height: 110px;
  width: 330px;
  margin-left: 15px;
}

.flagactions {
  color: #b2b2bc;
  background-color: #f5f5f7;
  padding: 7px;
  border-radius: 50%;
  margin: 7px 0 0 15px;
}

.fa-ellipsis-v {
  color: #b2b2bc;
  padding: 7px;
  margin: 7px 0 0 190px;
}

.alridge p {
  margin: 20px 0 0 20px;
  font-weight: bold;
}

.progress {
  display: flex;
  flex-direction: column;
  margin: -30px 0px 0 55px;
}

#progress {
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
}

#progress::-webkit-progress-value {
  background-color: #4136b6;
  border-radius: 10px;
}

#progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: white;
}

.textcolor {
  color: #4136b6;
}

.alridgepic {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin: 5px 0 0 10px;
}

.flatcher p {
  margin: 20px 0 0 20px;
  font-weight: bold;
}

.progress {
  display: flex;
  flex-direction: column;
  margin: -30px 0px 0 55px;
}

#progressclient {
  height: 10px;
  -webkit-appearance: none;
}

#progressclient::-webkit-progress-value {
  background-color: #4136b6;
  border-radius: 10px;
}

#progressclient::-webkit-progress-bar {
  border-radius: 10px;
  background-color: white;
}

.textcolor {
  color: #4136b6;
}

.flatcherpic {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin: 5px 0 0 10px;
}

.graphic {
  height: 170px;
  width: 140px;
  margin: -57px 0 10px 25px;
}

.announcements p {
  margin: 0 0 3px 25px;
}

.phonegraphic {
  width: 236px;
  height: 100px;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}

.servicesblack {
  padding: 2px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: -10px 0 0 0;
  height: auto;
  width: 232px;
  position: absolute;
  z-index: 2;
}

.services h2 {
  font-weight: bold;
  margin-left: -10px;
}

.amounts {
  margin: 10px 10px 0 30px;
}

.amounts p {
  font-size: 10px;
  margin: 0 0 5px 0;
}

.months {
  display: flex;
  flex-direction: row;
  padding-left: 93px;
}

.months p {
  font-size: 12px;
  margin: 0;
  padding: 0 15px;
  width: 25px;
}

.graph {
  display: flex;
  flex-direction: row;
}

.bars {
  display: flex;
  flex-direction: row;
}

.bar {
  -webkit-appearance: none;
  width: 12px;
}

.purplebar::-webkit-progress-value {
  background-color: #4136b6;
}

.yellowbar {
  margin-right: 30px;
}

.yellowbar::-webkit-progress-value {
  background-color: #f7b632;
}

.bar::-webkit-progress-value {
  border-radius: 10px;
}

.bar::-webkit-progress-bar {
  border-radius: 10px;
  background-color: white;
  transform: rotate(270deg);
  width: 90px;
  height: 10px;
  margin-top: 50px;
}

.key {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.key p {
  font-size: 12px;
}

.keybar {
  margin-left: 5px;
  margin-right: 5px;
  height: 10px;
  width: 20px;
}

#planned {
  -webkit-appearance: none;
}

#planned::-webkit-progress-value {
  background-color: #f7b632;
  border-radius: 10px;
}

#planned::-webkit-progress-bar {
  border-radius: 10px;
  background-color: white;
  width: 20px;
  height: 10px;
}

#overtime {
  -webkit-appearance: none;
}

#overtime::-webkit-progress-value {
  background-color: #4136b6;
  border-radius: 10px;
}

#overtime::-webkit-progress-bar {
  border-radius: 10px;
  background-color: white;
  width: 20px;
  height: 10px;
}
